<link rel="stylesheet" href="/stylesheets/chat.css">
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/socket.io/socket.io.js"></script>
<script src="/javascripts/chat.js"></script>

<div class="container">
    <div class="row">
    	<div class="col-md-12 col-btn">{{roomID}}</div>
    </div>

</div>
