<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/stylesheets/normalize.css" rel="stylesheet" >
    <link href="/javascripts/bootstrap.min.css" rel="stylesheet" >

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
